Django==5.2.1
djangorestframework
djangorestframework-simplejwt
cryptography
mysqlclient
redis
django-redis
celery
django-celery-beat
django-celery-results
kombu
flower
PyJWT
drf-yasg
django-filter
pytest
pytest-django
pytest-cov
black
flake8
alipay-sdk-python
python-dotenv
hiredis
